@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');


body {
   margin: 0; 
}
.container {
    margin: auto;
    height: 1400px;
    flex-flow: row wrap;
    display: flex;
}

.fondo1 {
    flex: 2;
    background-color: #CDE1E7;
    display: flex;
    margin: 0 auto;
    flex-flow: column wrap;
}

.fondo2 {
    flex: 1;
    background: radial-gradient(65.14% 54.27% at 71.11% 50%, #EF7B9D 26.7%, #E86189 100%);
    background-color: #CDE1E7;
    display: flex; 
    margin: 0 auto;
    flex-flow: row wrap;
}

/*Para restar los pixeles que sobran cuando haces % y pones paddings; width: Calc(80% -20px) */

.header {
    flex: 1;
    margin: 0;

}

.contenedor {
    flex: 2;
    margin: 0;

}
.paw-h {
    color: black;
    font-size: 24px;
    font-family: Raleway;
    letter-spacing: 7.20px;
    word-wrap: break-word;
    padding: 4%;
}

.PAW-CLUB { 
    -webkit-text-stroke: 0.5px #3A59FF;
    color: #FFF;
    font-family: 'Rammetto One', sans-serif;
    font-size: 80px;
    font-style: normal;
    line-height: 105.896%; /* 84.717px*/
    text-align: left;
    padding-left: 10%;
}

.lorem {
    color: #0A1760;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    letter-spacing: 1.44px;
    padding: 5% 10%;
}


.GS {
    color: #000;
    font-size: 22px;
    font-family: Raleway;
    font-weight: 500;
    line-height: 18px;
    word-wrap: break-word;
}

.rectangulo {
    display: flex;
    width: 200px;
    height: 20px;
    border-radius: 20px; 
    border: 0.50px white solid;
    flex-direction: row-reverse;
}

.circulo {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 20px; 
    border: 0.50px white solid;
}