@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');


body {
    
}
.container {
    background: radial-gradient(65.14% 54.27% at 71.11% 50%, #EF7B9D 26.7%, #E86189 100%);
}

.flex-container {
    display: flex;
    background-color: #CDE1E7;
    padding-bottom: 500px;
    flex-flow: row wrap;
    max-width: 66%;
}

/*Para restar los pixeles que sobran cuando haces % y pones paddings; width: Calc(80% -20px) */


.PAW-CLUB { 
    -webkit-text-stroke: 0.5px #3A59FF;
    color: #FFF;
    font-family: 'Rammetto One', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 105.896%; /* 84.717px*/
    width: 265px;
    height: 166px;
    flex-shrink: 0;
    padding: 296px 531px 562px 138px;
}

.lorem {
    color: #0A1760;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    letter-spacing: 1.44px;
    padding: 32px 108px 0px 0px;
}